:root {
  --clr-text: rgb(5, 3, 21);
  --clr-background: rgb(251, 251, 254);
  --clr-primary: rgb(47, 39, 206);
  --clr-secondary: rgb(222, 220, 255);
  --clr-accent: rgb(97, 134, 140);

  --clr-text-primary: var(--clr-background);
  --clr-text-accent: var(--clr-background);

  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

input,
textarea {
  border: none;
  padding: 0.5rem;
}

button {
  background-color: var(--clr-primary);
  color: var(--clr-text-primary);
  border: none;
  border-radius: 99vmax;
  font-weight: 600;
  padding: 1rem 2rem;
  cursor: pointer;
}
