.main {
  --section-padding: 2rem;
}

.section1 {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.section1 > * {
  flex: 1 1 50%;
}

.section1 > *:first-child {
  padding: var(--section-padding);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  height: 100%;
  background-color: var(--clr-secondary);
  padding: var(--section-padding);
  border-radius: 0 0 1.5rem 1.5rem;
}

.form::before,
.form::after {
  --_size: 3rem;
  content: "";
  position: absolute;
  top: -0px;
  width: var(--_size);
  height: var(--_size);
  /* background-color: blue; */
  background-image: radial-gradient(
    circle at 0 0,
    transparent var(--_size),
    var(--clr-secondary) calc(var(--_size) + 1px)
  );
}
.form::before {
  left: calc(0px - var(--_size));
  rotate: -90deg;
}

.form::after {
  right: calc(0px - var(--_size));
  rotate: 180deg;
}

.contactDetails {
  display: flex;
  justify-content: space-between;
  color: var(--clr-accent);
  padding: 1rem;
}

.h1 {
  padding-bottom: 1rem;
  font-size: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
}

.h2 {
  font-size: clamp(1.2rem, 1rem + 1.5vw, 1.8rem);
}

.h2 span {
  text-decoration: underline 3px var(--clr-accent);
}

.h1 span {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1em;
  font-size: clamp(2rem, 2rem + 2vw, 4rem);
  color: var(--clr-accent);
}

.exampleImages {
  display: none;
}

.section2 {
  padding: var(--section-padding);
}

.section2 h2 {
  text-decoration: underline 3px var(--clr-accent);
  text-align: center;
}

.whyUs {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 60rem;
  margin-inline: auto;
}

.whyUs li {
  padding: 1.5rem;
  margin: 1rem;
  position: relative;
  background-color: var(--clr-accent);
  border-radius: 6px;
  color: var(--clr-text-accent);
}

.whyUs li::before {
  content: "â¯";
  position: absolute;
  color: var(--clr-secondary);
  left: 0.5rem;
  top: 1.5rem;
}

.whyUs p {
  color: var(--clr-secondary);
}

.whyUs h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 850px) {
  .main {
    --section-padding: 2rem 4rem;
  }

  .section1 {
    flex-direction: row;
  }

  .exampleImages {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-inline: auto;
  }

  .exampleImages ul {
    list-style: none;
  }

  .exampleImages img {
    object-fit: cover;
    object-position: top;
  }

  .whyUs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .main {
    --section-padding: 2rem calc(3.5vw + 8rem);
  }

  .section1 > *:not(:first-child) {
    padding-inline: 4rem;
  }

  .form {
    padding-block: 8rem;
    padding-inline: 2rem;
  }
}
